@charset "UTF-8";

// 変数
$primary-color: #ff0000;
$secondary-color: #00ff00;
$border-color:#333;


/* 要素共通 */
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    color: #333;
    ;
}

@media (min-width: 768px) {
    body {
        font-size: 1.125rem;
    }
}

a {
    color: #000;
    text-decoration: none;
}

a,
a:hover,
a i {
    transition: all 0.3s;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

input {
    border: 1px solid black;
    border-radius: 0.2rem;
}
select {
    border: 1px solid black;
    border-radius: 0.2rem;

}

/* クラス共通 */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outfit {
    font-family: Outfit, sans-serif;
}

.medium {
    font-weight: 500;
}

.container {
    // padding-top: 5rem;
    // padding-bottom: 5rem;
    max-width: 67.5rem;
    margin: auto;
}

.button {
    position: relative;
    // display: block;
    color: #fff;
    text-align: center;
    border-radius: 3rem;
    background-color: blue;
    padding: 0.5rem 1rem;
}
.button-icon {
    position: absolute;
    top: 46%;
    right: 1.75rem;
    transform: translate(0%, -45%);
}

@media (min-width: 768px) {
    .button-icon {
        top: 50%;
        right: 1.25rem;
        transform: translate(0%, -50%);
    }
}

.button:hover .button-icon {
    margin-right: -0.5625rem;
}

@media (min-width: 768px) {
    .container {
        padding-top: 6.25rem;
        padding-bottom: 6.25rem;
    }
}

.section-title {
    margin-bottom: 2.5rem;
    font-size: 2.1875rem;
    text-align: center;
}

@media (min-width: 768px) {
    .section-title {
        margin-bottom: 3rem;
    }
}

// レイアウト
.container-nav {
    padding-top: 3.4rem;
    min-height: 100vh;
    
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 
    "lnav main"
    "footer footer"
    ;
    .main {
        grid-area: main;
    }
    .lnav {
        grid-area: lnav;
        background-color: #8fffd4;
        
    }
    .footer {
        grid-area: footer;
        
    }
}
.container-nonav {
    padding-top: 3.4rem;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: 
        "main"
        "footer"
    ;
    .main {
        grid-area: main;
    }
    .footer {
        grid-area: footer;
        
    }
}

/* ヘッダー */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 0.625rem 0.0625rem rgb(0 0 0 / 20%);
}
.header_menu {
    display: flex;
    margin-right: 1rem;

    li + li{
        margin-left: 1rem;
    }
}


// main
// .main {
// }

// フッター
footer {
    padding: 2.4rem 0;
    background-color: #a39898;

}


// ペジネーション
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    margin-right: 5px;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;
    background-color: #fff;
}

.pagination li.active span {
    font-weight: bold;
}

.pagination li.disabled span,
.pagination li.disabled a {
    color: #999;
    pointer-events: none;
    cursor: default;
}

// welcome
.search {
    padding-top: 2rem;

}
.items {
    padding-top: 2rem;
    display: grid;
    gap: 0.7rem;
    grid-template-columns: repeat(1,1fr);
    .items__item{
        border: 1px solid $border-color;
        border-radius: 0.2rem;
        padding: 0.5rem;
        
    }
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
      }
}
